*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #E6DBC9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 500px;
    height: 300px;
    background-color: #fbf7f2;
    padding: 10px;
    border-radius: 5px;
}
.row{
    margin: 1.5rem;
    font-size: 1.2rem;
}
.btn{
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #d0b38b;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}